@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Patrick+Hand&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* overflow: hidden; */
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #041e42; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid gray; /* creates padding around scroll thumb */
}

.container {
  background-color: #041e42;
  height: auto;
  color: white;
  width: 100%;
  position: absolute;
  overflow: hidden;
  min-height: 100vh;
}

.header {
  display: flex;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 1;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.0);
  backdrop-filter: blur(10px);
}

.nav {
  /* height: 50px; */
  /* width: 20%; */
  /* position: absolute; */
  /* right: 0; */
  margin-right: 10px;
}

.nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.link a span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0%;
  height: 1px;
  border-radius: 3px;
  background-color: white;
}

.nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: whitesmoke;
  background-color: #00416a;
  padding: 3px 3px 8px 3px;
  border-radius: 20px;
}

#linkBlog {
  width: 60px;
  margin: 10px 0px 20px 30px;
}

#linkAbout {
  margin: 10px 0px 20px 15px;
  width: 90px;
}

@keyframes link {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0px 0px 22px 1px rgb(255 255 255 / 0.4);
  }
}

.link a:hover {
  animation: link 1s;
  box-shadow: 0px 0px 22px 1px rgb(255 255 255 / 0.4);
}

#logo {
  /* width: 15%; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: "Baloo 2", cursive;
  cursor: pointer;
  margin: 0 0 0 10px;
}
#logo a {
  text-decoration: none;
  color: white;
  font-family: "Patrick Hand", cursive;
}

.body {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  margin-top: 60px;
}

.section1 {
  position: fixed;
  left: 0;
}
.section3 {
  position: fixed;
  right: 0;
}

.section2 {
  font-family: "Baloo 2", cursive;
  width: 500px;
}

.text {
  text-align: center;
  margin: 30px 0px;
}

.intro {
  margin: 0 10px;
}

.h1 {
  font-size: 20px;
  margin: 15px 0px;
}

.h2 {
  font-size: 30px;
}

.head {
  font-weight: bold;
  margin: 5px 0px;
  display: flex;
  width: fit-content;
  flex-direction: column;
}

.underline {
  width: 100%;
  height: 3px;
  background-color: #808690;
}

.socialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.socialMedia a {
  color: white;
  margin: 10px;
  font-size: 20px;
}

.pic {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.pic img {
  width: 150px;
  border-radius: 20%;
}

.boxR img {
  width: 40px;
}
.boxL img {
  width: 50px;
}

.intro {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introBody p {
  text-align: center;
}

.blogBody {
  width: 100%;
  height: 100vh;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  color: black;
  width: 80px;
  /* height: 50px; */
  margin: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

#box1 {
  animation: kd1 5s infinite;
}
#box2 {
  animation: kd2 5s infinite;
  margin-left: 150px;
}
#box3 {
  animation: kd1 5s infinite;
}
#box4 {
  animation: kd2 5s infinite;
}

@keyframes kd1 {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes kd2 {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}
@keyframes kd3 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes kd4 {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

.note {
  font-size: 30px;
  animation: note 10s infinite;
}

@keyframes note {
  0% {
    font-size: 30px;
  }
  50% {
    font-size: 40px;
  }
  100% {
    font-size: 30px;
  }
}

/* Media Query */

@media only screen and (max-width: 950px) {
  #box1 {
    display: none;
  }
  #box2 {
    display: none;
  }
  #box3 {
    display: none;
  }
  #box4 {
    display: none;
  }

  /* .header {
    display: flex;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
  } */
}
